<%= render "home/navbar" %>



<div class="container-fluid md-5 pt-5">
    <h1 class="">Page d'accueil</h1>
    <p class="pt-4 text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt molestias molestiae, dolor sunt veniam vero non autem ducimus voluptatem nam deserunt voluptas saepe, vitae quo reprehenderit placeat sit consequuntur assumenda.Exercitationem facere repellendus, quam placeat harum maxime corporis eveniet. Non hic eius eaque cupiditate odit sequi excepturi harum neque fuga ipsum, obcaecati in dolorum iusto ad, blanditiis magnam pariatur delectus?
    </p>
    <p class="pt-4 text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt molestias molestiae, dolor sunt veniam vero non autem ducimus voluptatem nam deserunt voluptas saepe, vitae quo reprehenderit placeat sit consequuntur assumenda.Exercitationem facere repellendus, quam placeat harum maxime corporis eveniet. Non hic eius eaque cupiditate odit sequi excepturi harum neque fuga ipsum, obcaecati in dolorum iusto ad, blanditiis magnam pariatur delectus?
    </p>
    <p class="pt-4 text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident repellendus culpa asperiores esse ducimus nostrum molestias quia, tempore impedit facere aliquam maiores, porro fugit accusantium consectetur minima cupiditate eaque dolorem.
    Porro recusandae, sint fugit dolorem commodi nesciunt iusto consequuntur assumenda vel saepe impedit harum repellat error! Nihil ab assumenda, beatae reiciendis vitae, vero odit, saepe adipisci itaque iusto minima quasi.
    Corrupti quae suscipit dicta, magnam iure, minus pariatur ipsum veniam ipsam minima aspernatur facilis natus! Tempora repudiandae tempore enim impedit incidunt voluptatibus, dicta perferendis animi error sunt doloremque, obcaecati perspiciatis.
    Molestiae odio beatae quasi quis voluptas obcaecati, repellat necessitatibus laborum delectus praesentium. Sint animi, harum accusantium aut blanditiis voluptates possimus nesciunt veritatis enim fuga repellat necessitatibus reprehenderit, aperiam temporibus corrupti?
    </p>
</div>