<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light">
  <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbar">
    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
          <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">Code et Créer</a>
          <div class="bottom-border pb-3 ">
            <%= image_tag("admin.jpeg", style: "width:70px", class: "rounded-circle mr-3") %>
            <a href="#" class="text-white">Lapin Ragnar</a>
          </div>
          <ul class="navbar-nav flex-column mt-4">
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 current"><i class="fas fa-home text-info fa-lg mr-3"></i>Tableau de bord</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-user text-info fa-lg mr-3"></i>Profile</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-envelope text-info fa-lg mr-3"></i>Email</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-shopping-cart text-info fa-lg mr-3"></i>Ventes</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-chart-line text-info fa-lg mr-3"></i>Analyse</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-chart-bar text-info fa-lg mr-3"></i>Panier</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-table text-info fa-lg mr-3"></i>Tableau</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-wrench text-info fa-lg mr-3"></i>Config</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-file-alt text-info fa-lg mr-3"></i>Documentation</a></li>
          </ul>
        </div>
        <!-- end of sidebar -->

        <!-- top-nav -->
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
          <div class="row align-items-center">
            <div class="col-md-4">
              <h4 class="text-light text-uppercase mb-0">Tableau de bord</h4>
            </div>
            <div class="col-md-5">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control search-input" placeholder="Search...">
                  <button type="button" class="btn btn-white search-button"><i class="fas fa-search text-danger"></i></button>
                </div>
              </form>
            </div>
            <div class="col-md-3">
              <ul class="navbar-nav">
                <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-comments text-muted fa-lg"></i></a></li>
                <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-bell text-muted fa-lg"></i></a></li>
                <li class="nav-item ml-md-auto"><a href="#" class="nav-link" data-toggle="modal" data-target="#sign-out"><i class="fas fa-sign-out-alt text-danger fa-lg"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of top-nav -->
      </div>
    </div>
  </div>
</nav>
<!-- end of navbar -->